.common {
  padding: 40px 22px 5px;
  min-width: 320px;
  text-align: center;
}

.common__title {
  @include text-title(black);
  margin-bottom: 25px;
}

.common__text {
  @include common-text($common-text-color);
}
