.footer {
  min-width: 320px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__tag {
  @include footer-tag-text($text-black);
}
.footer__list {
  padding: 0px;
  display: flex;
  margin: 30px 55px;
  justify-content: space-evenly;
  list-style-type: none;
}
