

.intro {
  &--first {
    min-height: 360px;

    .intro__banner {
      width: 280px;
      padding: 0 20px 83px 20px;
    }
  }

  min-height: 199px;
  text-align: center;
  padding-top: 65px;
  margin-top: -10px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: auto;
  background-position: 50%;
  background-repeat: no-repeat;
}

.intro::after {
  content: url("../img/bg-intro-triangle-mobile.svg");
  width: 100%;
  height: 25px;
  display: block;
}

.intro__banner {
  width: 280px;
  padding: 31px 20px;
}
