
.nav {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.nav__toggle {
  position: absolute;
}
.nav__list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color:$background-navigation-blue;
  padding: 0;
  margin: 0;

}
.nav__item  {
  padding: 4px 0px;
  list-style-type: none;
  @extend %navigation-border;
}
.nav__title {
  font-size: 18px;
  line-height: 44px;
  font-weight: $font-bold;
  color: $color-navigation-title-white;
  text-transform: uppercase;
  text-decoration: none;
}
