.recommendations {
  list-style-type: none;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
@media (min-width: 1280px) {

  .recommendations {
    flex-direction: row;
    padding: 0;
  }

  .recommendations__item {
    padding: 0 !important;
    align-items: center;
    flex-direction: column;
    min-width: 332px;
  }

  .recommendations__wrapper {
    text-align: center;
  }
}
@media (min-width: 768px) {

  .recommendations {
    flex-direction: row;
    width: 100%;
    padding: 0;
  }

  .recommendations__item {
    padding: 0 !important;
    align-items: center;
    flex-direction: column;
    min-width: 256px;
  }

  .recommendations__wrapper {
    text-align: center;
  }
}
.recommendations__wrapper {
  display: flex;
  flex-direction: column;
}

.recommendations__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: $font-bold;
  text-transform: uppercase;
}

.recommendations__description {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: $font-regular;
  text-transform: uppercase;
}

.recommendations__item {
  display: flex;
}

.recommendations__item:nth-child(1) {

  padding: 0 20px;
  padding-top: 20px;

  .recommendations__wrapper {
    padding-top: 10px;
    padding-left: 11px;
    padding-bottom: 22px;
    padding-right: 20px;
  }

  .recommendations__title {
    margin-bottom: 15px;
  }
}

.recommendations__item:nth-child(2) {
  padding: 0 20px;

  .recommendations__wrapper {
    padding-top: 10px;
    padding-left: 11px;
    padding-bottom: 22px;
    padding-right: 20px;
  }

  .recommendations__title {
    margin-bottom: 15px;
  }
}

.recommendations__item:nth-child(3) {
  padding: 0 20px;

  .recommendations__wrapper {
    padding-top: 10px;
    padding-left: 11px;
    padding-bottom: 22px;
    padding-right: 20px;
  }

  .recommendations__title {
    margin-bottom: 15px;
  }
}

.recommendations__icon {

  height: 37px;
  width: 37px;
}

@media (min-width: 1280px) {
  .recommendations__icon {

    height: 75px;
    width: 78px;
  }
}

@media (min-width: 768px) {
  .recommendations__icon {

    height: 75px;
    width: 78px;
  }
}




