.services {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-right: 20px;
  padding-left: 20px;
}
.services__centre {
  .services__title {
    @include text-title($text-black);
    margin-bottom: 30px;

  }
  .services__description {
    @include description-text($services-text);
      margin-bottom: 20px;
  }
  .services__finde {
      background-color:$color-button-services;
      @include button-text($text-white);
      display: block;
      padding: 20px 45px;
  }
}
