$background-navigation-blue:#81b3d2;
$background-advantages-blue:#81b3d2;
$color-button-services:#81b3d2;
$color-button-social:#81b3d2;
$color-logo-social:#ffffff;
$color-navigation-title-white:#ffffff;
$color-item-short-border:#d6d6d6;
$common-text-color: #333333;
$background-blue:#99cccc;
$advantages-background-gray:#eeeeee;
$common-text-color:#333333;
$services-text:#333333;
$advantages-short-text:#333333;
$color-photos-text:#333333;
$text-black:#000000;
$text-white:#ffffff;
$color-photos-like: #b2b2b2;
$font-bold: 700;
$font-regular: 400;



