$background-navigation-blue:#81b3d2;
$background-navigation-white:#ffffff;
$nav-title:#000000;
$nav-title-hover:#669ec0;
$nav-title-down:#b2b2b2;
$background-advantages-blue:#81b3d2;
$color-button-services:#81b3d2;
$color-button-services-hover:#669ec0;
$color-button-services-down:#5496bd;
$color-button-services-disabled:#e5e5e5;
$recommendations__icon-color:#81b3d2;
$recommendations:#ffffff;
$logo-social:#ffffff;
$button-social:#81b3d2;
$button-social-hover:#669ec0;
$button-social-down:#5496bd;
$logo-copyright:#000000;
$logo-copyright-hover:#81b3d2;
$logo-copyright-down:#b2b2b2;
$color-navigation-title-white:#ffffff;
$color-navigation-title-desktop:#000000;
$color-item-short-border:#d6d6d6;
$common-text-color: #333333;
$background-blue:#99cccc;
$advantages-background-gray:#eeeeee;
$common-text-color:#333333;
$services-text:#333333;
$advantages-short-text:#333333;
$color-photos-text:#333333;
$text-black:#000000;
$text-white:#ffffff;
$color-photos-like: #b2b2b2;
$font-bold: 700;
$font-regular: 400;
